:-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar {
    width: 0 !important;
}

:root {
    scrollbar-width: none !important;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 1.3rem;
    height: 100%;
    background: rgb(225, 229, 229);
    z-index: 202;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 1.3rem;
    background: $color-primary;
    z-index: 205;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}